/* Style sheet tmp/css/1/tabs */
@media all{



/*  */
.tabs .ce_list{overflow:visible}


/*  */
.ui-widget-content > div{padding-right:13px;padding-left:13px}


/*  */
.tabs{position:relative;margin-top:30px;padding:2px}


/*  */
.tabs-nav{height:34px}


/*  */
.tabs .tabs-nav li{position:relative;float:left;margin:4px 3px 0 0;white-space:nowrap;list-style: none;border-bottom-width: 0}


/*  */
.tabs .tabs-nav li a{display:block;padding:5px 13px;border:1px solid #888;border-radius:4px 4px 0 0;text-decoration:none;color:#444;behavior:url('assets/css3pie/1.0.0/PIE.htc');border-bottom:0;background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(8%, #ccc), color-stop(38%, #c4c4c4), color-stop(100%, #ccc));transition:0}


/*  */
.tabs .tabs-nav li a:focus{outline:0}


/*  */
.tabs li.ui-tabs-active{margin-top:1px;margin-bottom:-1px;padding-bottom:1px}


/*  */
.tabs-nav li.ui-tabs-active a,.tabs-nav li.state-disabled a,.tabs-nav li.tabs-loading a{padding:8px 13px 6px;border:1px solid #aaa;font-weight:bold;color:#000;cursor: default;border-bottom:0;background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5%, #eee), color-stop(8%, #ccc), color-stop(18%, #ddd), color-stop(96%, #fff))}


/*  */
.tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor: pointer}


/*  */
.ui-tabs .ui-tabs-panel{}


/*  */
.tab-content{margin:-1px 0;padding:12px;background-color:#fff;border:1px solid #bbb;border-radius:0 4px 4px;behavior:url('assets/css3pie/1.0.0/PIE.htc')}

}
